.q-container {
    padding-top: 10px;

    >form {
        width: 40vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;


        >.q-card {
            background-color: #544f4f33;
            width: 100%;
            min-height: 3rem;
            padding: 30px;
            border-radius: 18px;
            border: 2px solid #feffffb7;
            backdrop-filter: blur(7px);
        }


    }
}

.q-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid rgb(32, 33, 36);
    box-shadow: 5px 5px 5px 0px rgba(106, 105, 105, 0.528);

    >div>label {
        font-weight: 700;
        /* color: rgba(28, 28, 29, 0.618); */
        color: rgba(0, 128, 0, 0.817);
        font-size: 20px;
        line-height: 24px;
    }

    >div>span {
        margin-left: 5px;
        color: red;
    }

    >p {
        font-weight: 400;
        opacity: 70%;
        color: rgb(32, 33, 36);
        font-size: 13px;
        line-height: 22px;
    }

    >input {
        width: 50%;
        border: none;
        outline: none;
        border-bottom: 1px solid rgb(32, 33, 36);
        background-color: transparent;
        line-height: 20px;
        font-size: 14px;
        margin-top: 10px;
    }
}

.choice {
    display: flex;
    align-items: center;
    width: 30%;
    margin-top: 10px;

    >.choice-label {
        color: rgba(0, 0, 0, 0.586);
        margin-left: 20px;
        font-size: 14px;
        line-height: 22px;

    }
}

.file-style{
    border: none !important;
}